.v-btn.mm {
  border-radius: 6px;
  min-width: 200px;
  min-height: 46px;
  border-width: 2px;
}
.mm {
  border-width: 2px;
  border-style: solid;
  &.success {
    border-color: $alert-color-approve;
  }
  &.warning {
    border-color: $alert-color-warning;
  }
  &.error {
    border-color: $alert-color-deny;
  }
  &.info {
    border-color: $primary-color2;
  }
}
.v-btn--disabled {
  cursor: not-allowed !important;
}
%buttons_focus {
  &.success,
  &.btn-secondary-success {
    transition: 0s outline;
    outline-width: 0px;
    &:focus,
    &.radio {
      outline: darken($alert-color-approve, 25%);
      outline-width: 2px;
      outline-style: dashed;
      outline-offset: 3px;
    }
  }
  &.warning,
  &.btn-secondary-warning {
    transition: 0s outline;
    outline-width: 0px;
    &:focus,
    &.radio {
      outline: darken($alert-color-warning, 25%);
      outline-width: 2px;
      outline-style: dashed;
      outline-offset: 3px;
    }
  }
  &.error,
  &.btn-secondary-error {
    transition: 0s outline;
    outline-width: 0px;
    &:focus,
    &.radio {
      outline: darken($alert-color-deny, 25%);
      outline-width: 2px;
      outline-style: dashed;
      outline-offset: 3px;
    }
  }
  &.info,
  &.btn-secondary-info {
    transition: 0s outline;
    outline-width: 0px;
    &:focus,
    &.radio {
      outline: darken($primary-color2, 25%);
      outline-width: 2px;
      outline-style: dashed;
      outline-offset: 3px;
    }
  }
}
body.has_focus {
  .mm.v-btn:not(.radio) {
    @extend %buttons_focus;
  }
  input:focus + .radio{
    @extend %buttons_focus;
  }
}

.mm {
  &.theme--light.v-btn.v-btn--disabled.theme--light:not(.v-btn--icon):not(.v-btn--flat):not(.v-btn--outline):not(.btn-secondary-success) {
    background-color: #f3f0f0 !important;
    color: $grey-color4 !important;
  }
  &.btn-secondary-success {
    &.v-btn--disabled.theme--light.v-btn:not(.v-btn--icon):not(.v-btn--flat):not(.v-btn--outline) {
      border-color: #f3f0f0 !important;
      background-color: transparent !important;
      div {
        color: $text-color-dark;
      }
    }
    border:$alert-color-approve 2px solid;
    background-color: transparent !important;
  }
  &.btn-secondary-warning {
    &.v-btn--disabled.theme--light.v-btn:not(.v-btn--icon):not(.v-btn--flat):not(.v-btn--outline) {
      border-color: #f3f0f0 !important;
      background-color: transparent !important;
      div {
        color: $text-color-dark;
      }
    }
    border:$alert-color-warning 2px solid;
    background-color: transparent !important;
  }
  &.btn-secondary-error {
    &.v-btn--disabled.theme--light.v-btn:not(.v-btn--icon):not(.v-btn--flat):not(.v-btn--outline) {
      border-color: #f3f0f0 !important;
      background-color: transparent !important;
      div {
        color: $text-color-dark;
      }
    }
    border:$alert-color-deny 2px solid;
    background-color: transparent !important;
  }
  &.btn-secondary-info {
    &.v-btn--disabled.theme--light.v-btn:not(.v-btn--icon):not(.v-btn--flat):not(.v-btn--outline) {
      border-color: #f3f0f0 !important;
      background-color: transparent !important;
      div {
        color: $text-color-dark;
      }
    }
    border:$primary-color2 2px solid;
    background-color: transparent !important;
  }
}
