
<template>
  <v-layout align-center justify-center dark class="compra-container">
    <v-flex xs12 sm12>
      <v-layout d-flex justify-center dark>
        <v-flex d-flex xs12 sm4 class="ficha-tecnica">
          <FichaTecnica/>
        </v-flex>
        <v-flex d-flex xs12 sm8 class="formulario-container">
          <v-layout d-flex justify-center dark>
            <v-flex align-self-start d-flex xs11 column class="formulario-container">
              <div>
                <stepper :step="3"/>
                <paga-entradas/>
              </div>
            </v-flex>
          </v-layout>
        </v-flex>
      </v-layout>
    </v-flex>
  </v-layout>
</template>

<script>
import FichaTecnica from '@/components/FichaTecnica.vue';
import PagaEntradas from '@/components/PagaEntradas.vue';
import Stepper from '../assets/svg/Stepper.vue';

export default {
  name: 'Compra',
  components: {
    PagaEntradas,
    FichaTecnica,
    Stepper,
  },
  computed: {
    pelicula() {
      return this.$store.getters.pelicula;
    },
  },
  created() {
    this.$store.commit('peliculaId', { id: this.$route.params.id });
  },
};
</script>
<style lang="scss" scoped>
@import '../assets/scss/helper/variables.scss';
@import '../assets/scss/helper/text.scss';
.compra-container {
  background-color: $grey-color4;
  padding-top: 64px;
  > div {
    max-width: 1440px;
    .formulario-container {
      background-color: #fff;
      color: #000;
    }
  }
  .siguiente {
    margin-top: 30px;
    margin-bottom: 40px;
    float: right;
  }
}
</style>
