
<template>
  <v-layout align-center justify-center dark class="compra-container">
    <v-flex xs12 sm12>
      <v-layout d-flex justify-center dark>
        <v-flex d-flex xs12 sm4 class="ficha-tecnica">
          <FichaTecnica/>
        </v-flex>
        <v-flex d-flex xs12 sm8 class="formulario-container">
          <v-layout d-flex justify-center dark>
            <v-flex align-self-start d-flex xs11 column class="formulario-container">
              <div>
                <stepper :step="1"/>
                <elegi-funcion/>
                <v-layout wrap>
                  <v-flex xs12>
                    <v-btn
                      :disabled="!userSelected.cineSelected || !userSelected.salaSelected || !userSelected.idiomaSelected || !userSelected.timeSelected"
                      :to="{path:`/compraStep2-${this.$store.getters.userSelected.peliculaId}`, hash:'start-here'}"
                      class="mm info siguiente"
                    >Elegí la butaca</v-btn>
                  </v-flex>
                </v-layout>
              </div>
            </v-flex>
          </v-layout>
        </v-flex>
      </v-layout>
    </v-flex>
  </v-layout>
</template>

<script>
import FichaTecnica from '@/components/FichaTecnica.vue';
import ElegiFuncion from '@/components/ElegiFuncion.vue';
import Stepper from '../assets/svg/Stepper.vue';

export default {
  name: 'Compra',
  components: {
    ElegiFuncion,
    FichaTecnica,
    Stepper,
  },

  computed: {
    userSelected() {
      return this.$store.getters.userSelected;
    },
  },
};
</script>
<style lang="scss" scoped>
@import '../assets/scss/helper/variables.scss';
@import '../assets/scss/helper/text.scss';
.compra-container {
  background-color: $grey-color4;
  padding-top: 64px;
  > div {
    max-width: 1440px;
    .formulario-container {
      background-color: #fff;
      color: #000;
    }
  }
  .siguiente {
    margin-top: 30px;
    margin-bottom: 40px;
    float: right;
  }
}
</style>
