<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png">
    <HelloWorld msg="Welcome to Your Vue.js App"/>
    <form>
      <v-text-field
        v-validate="'required|max:10'"
        v-model="name"
        :counter="10"
        :error-messages="errors.collect('name')"
        label="Name"
        data-vv-name="name"
        required
      ></v-text-field>
      <v-text-field
        v-validate="'required|email'"
        v-model="email"
        :error-messages="errors.collect('email')"
        label="E-mail"
        data-vv-name="email"
        required
      ></v-text-field>
      <v-select
        v-validate="'required'"
        :items="items"
        v-model="select"
        :error-messages="errors.collect('select')"
        label="Select"
        data-vv-name="select"
        required
      ></v-select>
      <v-checkbox
        v-validate="'required'"
        v-model="checkbox"
        :error-messages="errors.collect('checkbox')"
        value="1"
        label="Option"
        data-vv-name="checkbox"
        type="checkbox"
        required
      ></v-checkbox>

      <v-btn class="mm btn-secondary-error" @click="clear">clear</v-btn>
      <v-btn class="mm" color="success" @click="submit">submit</v-btn>
    </form>
    <v-layout align-center justify-center row>
      <v-btn class="mm" color="success" :disabled="true">Success</v-btn>
      <v-btn class="mm" color="error">Error</v-btn>
      <v-btn class="mm" color="warning">Warning</v-btn>
      <v-btn class="mm" color="info">Info</v-btn>
    </v-layout>
    <v-layout align-center justify-center row>
      <v-btn class="mm btn-secondary-success" :disabled="true">Success</v-btn>
      <v-btn class="mm btn-secondary-error">Error</v-btn>
      <v-btn class="mm btn-secondary-warning">Warning</v-btn>
      <v-btn class="mm btn-secondary-info">Info</v-btn>
    </v-layout>
    <butacas />
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue';
import Butacas from '@/components/Butacas.vue';

export default {
  name: 'home',
  components: {
    Butacas,
    HelloWorld,
  },
  $_veeValidate: {
    validator: 'new',
  },

  data: () => ({
    name: '',
    email: '',
    select: null,
    items: ['Item 1', 'Item 2', 'Item 3', 'Item 4'],
    checkbox: null,
    dictionary: {
      attributes: {
        email: 'E-mail Address',
        // custom attributes
      },
      custom: {
        name: {
          required: () => 'Name can not be empty',
          max: 'The name field may not be greater than 10 characters',
          // custom messages
        },
        select: {
          required: 'Select field is required',
        },
      },
    },
  }),

  mounted() {
    this.$validator.localize('en', this.dictionary);
  },

  methods: {
    submit() {
      this.$validator.validateAll();
    },
    clear() {
      this.name = '';
      this.email = '';
      this.select = null;
      this.checkbox = null;
      this.$validator.reset();
    },
  },
};
</script>
