<template>
  <div>
    <v-layout align-center justify-center>
      <v-flex xs12 sm12>
        <div class="image-container">
          <img src="../assets/img/portada.jpg" alt aria-hidden="true">
          <div class="black-layout"/>
          <div class="portada">
            <v-layout class="buscador" align-center justify-center fill-height>
              <v-flex xs12 sm8 py-3>
                <h1 class="pt3">¿Qué película quieren ver?</h1>
                <v-toolbar class="padding-top">
                  <v-autocomplete
                    :loading="loading"
                    :items="titlesArray"
                    :search-input.sync="search"
                    cache-items
                    class="mx-3"
                    hide-no-data
                    single-line
                    :clearable="true"
                    label="Encontrá tu película"
                    id="buscador"
                  />
                  <v-btn :to="{path:`/compraStep1-${selected[0].id}`, hash:'start-here'}" class="mm" color="info">Buscar</v-btn>
                </v-toolbar>
                <p v-if="emptySearch">No se encontró nungún resultado</p>
              </v-flex>
            </v-layout>
          </div>
        </div>
      </v-flex>
    </v-layout>
    <v-layout align-center justify-center dark class="banner">
      <v-flex xs12 sm12>
        <div>
          <h2>TU SALIDA AL CINE CON AMIGOS,
            <span>MÁS FÁCIL Y PRÁCTICA.</span>
          </h2>
          <v-layout align-space-between justify-space-around row>
            <div class="steps">
              <cine/>
              <h4>
                ELEGÍ LA PELÍCULA<br>
                QUE QUIEREN IR A VER
              </h4>
            </div>
            <div class="steps">
              <tarjeta/>
              <h4>OLVIDATE DE LOS 2X1,
                <br>¡TODOS TIENEN DESCUENTO!
              </h4>
            </div>
            <div class="steps">
              <compatir/>
              <h4>PAGÁ LAS ENTRADAS QUE QUIERAS
                <br>Y QUE EL RESTO ¡LO PAGUEN ELLOS!
              </h4>
            </div>
          </v-layout>
        </div>
      </v-flex>
    </v-layout>
    <v-layout align-center justify-center dark class="inicio-container">
      <v-flex xs12 sm11>
        <v-layout align-center justify-center dark class="cartelera">
          <v-flex xs12 sm11>
            <h2>CARTELERA</h2>
          </v-flex>
        </v-layout>
        <PeliculasList :peliculas="peliculas" class="peliculas-list"/>
      </v-flex>
    </v-layout>
  </div>
</template>


<script>
import PeliculasList from '../components/PeliculasList.vue';
import Cine from '../assets/svg/Cine.vue';
import Tarjeta from '../assets/svg/Tarjeta.vue';
import Compatir from '../assets/svg/Compatir.vue';

export default {
  components: {
    PeliculasList,
    Compatir,
    Tarjeta,
    Cine,
  },
  data: () => ({
    offsetTop: 0,
    loading: false,
    search: null,
    select: null,
    emptySearch: false,
    titlesArrayFilted: [],
  }),
  computed: {
    selected() {
      if (this.titlesArrayFilted.length) {
        const titlesArrayFilted = this.titlesArrayFilted;
        return this.peliculas.filter(p => {
          return titlesArrayFilted.indexOf(p.title) !== -1;
        });
      }
      return this.peliculas;
    },

    peliculas() {
      return this.$store.getters.peliculas;
    },
    titlesArray() {
      return _.chain(this.peliculas)
        .map(p => p.title)
        .value();
    },
  },
  methods: {
    onScroll() {
      this.offsetTop = window.pageYOffset || document.documentElement.scrollTop;
    },
    querySelections(v) {
      this.loading = true;
      // Simulated ajax query
      const pelis = this.peliculas;
      setTimeout(() => {
        let items = _.chain(pelis)
          .map(p => p.title)
          .value()
          .filter(e => {
            const test =
              (e || '').toLowerCase().indexOf((v || '').toLowerCase()) > -1;
            return test;
          });

        this.titlesArrayFilted = items;
        if (_.isEmpty(items) && this.search !== undefined) {
          this.emptySearch = true;
        } else {
          this.emptySearch = false;
        }
        this.loading = false;
      }, 500);
    },
  },
  watch: {
    search(val) {
      if (val === undefined || val === null) {
        this.titlesArrayFilted = [];
      } else {
        val !== this.select && this.querySelections(val);
      }
    },
  },
};
</script>
<style lang="scss" scoped>
@import '../assets/scss/helper/variables.scss';
@import '../assets/scss/helper/text.scss';
.peliculas-list {
  color: $text-color-light;
  background-color: $grey-color4;
}
.inicio-container {
  background-color: $grey-color4;
  > div {
    max-width: 1440px;
  }
}
.pt3 {
  padding-top: 2vw;
}
.p3 {
  padding: 1vw 2vw 2vw 2vw;
}
.banner {
  background-color: $primary-color3;
  > div {
    max-width: 1440px;
    .steps {
      max-width: 387px;
      width: 30%;
    }
    h2 {
      text-align: center;
      @extend %font-h2;
      color: $text-color-light;
      font-weight: 500;
      margin: 35px 0;
      span {
        font-weight: bold;
      }
    }
    h4 {
      text-align: center;
      @extend %font-p1;
      margin-bottom: 35px;
      color: $text-color-light;
    }
    svg {
      margin: 20px auto;
      display: block;
    }
  }
}
.cartelera {
  color: $text-color-light;
  background-color: $grey-color4;
  position: relative;
  h2 {
    text-align: left;
    @extend %font-h2;
    margin: 80px 0 17px;
  }
}
.image-container {
  max-height: calc(100vh - 200px);
  min-height: 500px;
  overflow: hidden;
  width: 100%;
  position: relative;
  img {
    width: 100%;
  }
  .black-layout {
    background: rgba(3, 0, 0, 0.42);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
.portada {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
}
.buscador {
  width: 100%;
  bottom: 15vh;
  .padding-top {
    padding-top: 7px;
  }
  h1 {
    font-size: 48px;
    text-align: center;
    color: $text-color-light;
    margin-bottom: 35px;
  }
}
</style>
