html {
  height: 100%;
}
body {
  background-color: #F4F4F4;
}
input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px #F4F4F4 inset;
  -webkit-text-fill-color: #5d5c5c;
}
::-webkit-scrollbar {
  width: 9px;
}
::-webkit-scrollbar-track {
  border-radius: 0px;
  background: $grey-color1;
}
::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background: $primary-color1;
}
.img-responsive-SVG {
  display: block;
  max-width: 100%;
  height: initial;
}
@-ms-viewport {
  width: device-width;
}
.display-none {
  display: none;
}
.padding-cero {
  padding-left: 0;
  padding-right: 0;
}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  background-color: #F4F4F4 !important;
  background-image: none !important;
  color: rgb(0, 0, 0) !important;
}
select.form-control {
  border-bottom: rgba(0, 0, 0, 0.87) solid 1px;
  border-radius: 0;
  box-shadow: none;
  &:focus {
    border-bottom: #2b4a83 solid 2px;
  }
  -webkit-appearance: menulist;
  --moz-appearance: menulist;
}
.bg-primary {
  background: $primary-color1
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  overflow: visible;
  clip: auto;
  white-space: normal;
}
