%font-family-primary {
  font-family: 'Open Sans', sans-serif;
}
%font-h0 {
  font-size: 48px;
  @extend %font-family-primary;
}
%font-h1_1 {
  font-size: 38px;
  @extend %font-family-primary;
}
%font-h1 {
  font-size: 32px;
  @extend %font-family-primary;
}
%font-h2 {
  font-size: 28px;
  @extend %font-family-primary;
}
%font-h3 {
  font-size: 24px;
  @extend %font-family-primary;
}
%font-p1 {
  font-size: 20px;
  @extend %font-family-primary;
}
%font-p2 {
  font-size: 16px;
  @extend %font-family-primary;
}
%font-p3 {
  font-size: 12px;
  @extend %font-family-primary;
}
%font-p4 {
  font-size: 20px;
  @extend %font-family-primary;
}
%font-p5 {
  font-size: 16px;
  @extend %font-family-primary;
}
%font-p6 {
  font-size: 12px;
  @extend %font-family-primary;
}
h1 {
  @extend %font-h1;
}
h2 {
  @extend %font-h2;
}
h3 {
  @extend %font-h3;
}
p {
  @extend %font-p1;
}
.router-link-exact-active {
  color: $primary-color1;
}
