$primary-color1: #3B66B8;
$primary-color2: #2C6EE8;
$primary-color3: #2B4A83;
$secondary-color1: #39CCCC;
$secondary-color2: #FF824B;
$grey-color1: #ECECEC;
$grey-color2: #C4C4C4;
$grey-color3: #757575;
$grey-color4: #181B22;
$text-color-dark: $grey-color4;
$text-color-light: #fff;
$alert-color-approve: #008014;
$alert-color-warning: #FFC107;
$alert-color-deny: #D62B00;

$primary-text-color: $text-color-dark;

