<template>
  <svg width="45" height="46" viewBox="0 0 45 46" fill="none" xmlns="http://www.w3.org/2000/svg">
    <circle cx="22.5" cy="22.9124" r="22.5" fill="#2C6EE8"></circle>
    <path
      d="M29.5 10.9998V13.5553H27V10.9998H17V13.5553H14.5V10.9998H12V33.9998H14.5V31.4442H17V33.9998H27V31.4442H29.5V33.9998H32V10.9998H29.5ZM17 28.8886H14.5V26.3331H17V28.8886ZM17 23.7775H14.5V21.222H17V23.7775ZM17 18.6664H14.5V16.1109H17V18.6664ZM29.5 28.8886H27V26.3331H29.5V28.8886ZM29.5 23.7775H27V21.222H29.5V23.7775ZM29.5 18.6664H27V16.1109H29.5V18.6664Z"
      fill="white"
    ></path>
  </svg>
</template>
