<template>
  <svg width="45" height="46" viewBox="0 0 45 46" fill="none" xmlns="http://www.w3.org/2000/svg">
    <circle cx="22.5" cy="22.9124" r="22.5" fill="#2C6EE8"></circle>
    <path
      d="M28.5 27.257C27.6133 27.257 26.82 27.6034 26.2133 28.1461L17.895 23.3544C17.9533 23.0889 18 22.8233 18 22.5462C18 22.2691 17.9533 22.0035 17.895 21.738L26.12 16.9925C26.75 17.5698 27.5783 17.9277 28.5 17.9277C30.4367 17.9277 32 16.3805 32 14.4639C32 12.5472 30.4367 11 28.5 11C26.5633 11 25 12.5472 25 14.4639C25 14.741 25.0467 15.0065 25.105 15.2721L16.88 20.0176C16.25 19.4403 15.4217 19.0823 14.5 19.0823C12.5633 19.0823 11 20.6295 11 22.5462C11 24.4629 12.5633 26.01 14.5 26.01C15.4217 26.01 16.25 25.6521 16.88 25.0748L25.1867 29.878C25.1283 30.1205 25.0933 30.3745 25.0933 30.6285C25.0933 32.4874 26.6217 34 28.5 34C30.3783 34 31.9067 32.4874 31.9067 30.6285C31.9067 28.7696 30.3783 27.257 28.5 27.257Z"
      fill="white"
    ></path>
  </svg>
</template>
