<template>
<svg version="1.1"
	 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
	 x="0px" y="0px" width="120.9px" height="44.7px" viewBox="0 0 120.9 44.7" enable-background="new 0 0 120.9 44.7"
	 xml:space="preserve" style="float:left">
	 <title>
		 Logo Movie Match
	 </title>
<g>
	<path fill="#FFFFFF" d="M117,16.2L93,2.2C87.8-0.8,81.2,3,81.2,9v27.8c0,6.1,6.6,9.8,11.8,6.8l16.8-9.8c-0.1-0.3-0.2-0.7-0.2-1.2
		v-8.5c0-0.7-0.2-1.2-0.6-1.5c-0.4-0.3-1-0.5-1.6-0.5c-0.3,0-0.7,0.1-1.1,0.2c-0.4,0.2-0.7,0.3-0.8,0.5c0,0.1,0,0.2,0,0.3
		s0,0.2,0,0.2v11.8c-0.3,0.1-0.7,0.2-1.2,0.2c-0.5,0.1-1,0.1-1.5,0.1c-0.5,0-1,0-1.4-0.1c-0.4-0.1-0.8-0.2-1-0.4
		c-0.3-0.2-0.5-0.5-0.7-0.9c-0.2-0.4-0.2-0.8-0.2-1.4v-8.5c0-0.7-0.2-1.2-0.7-1.5c-0.4-0.3-1-0.5-1.6-0.5c-0.4,0-0.8,0.1-1.1,0.2
		s-0.6,0.3-0.8,0.4v12.5c-0.2,0.1-0.6,0.2-1.1,0.2c-0.5,0.1-1,0.1-1.6,0.1s-1,0-1.4-0.1c-0.4-0.1-0.8-0.2-1-0.4
		c-0.3-0.2-0.5-0.5-0.7-0.9c-0.2-0.4-0.2-0.8-0.2-1.4V22c0-0.7,0.2-1.2,0.4-1.5c0.3-0.4,0.7-0.7,1.1-1.1c0.8-0.6,1.8-1,3-1.4
		c1.2-0.3,2.4-0.5,3.7-0.5c1,0,1.9,0.2,2.9,0.4c0.9,0.3,1.7,0.7,2.4,1.2c0.7-0.5,1.5-0.8,2.4-1.2c0.9-0.3,2-0.5,3.2-0.5
		c0.9,0,1.8,0.1,2.7,0.3c0.8,0.2,1.6,0.6,2.3,1.1c0.7,0.5,1.2,1.2,1.6,2c0.4,0.8,0.6,1.9,0.6,3.1v6.5l1.3-0.7
		C122.2,26.7,122.2,19.2,117,16.2z"/>
	<g>
		<path fill="#FFFFFF" d="M1,20.4V5.7h1.4v2.5c0.4-0.9,1-1.6,1.8-2.1c0.8-0.5,1.6-0.8,2.4-0.8c1,0,1.9,0.3,2.7,0.8
			c0.8,0.6,1.3,1.3,1.5,2.2c0.4-0.9,1.1-1.7,2-2.2c0.9-0.5,1.9-0.8,2.9-0.8c1.3,0,2.4,0.5,3.4,1.4c0.9,0.9,1.4,2,1.4,3.2v10.5h-1.4
			V9.9c0-1-0.3-1.8-1-2.5c-0.7-0.7-1.4-1-2.4-1c-1.1,0-2,0.4-2.9,1.2c-0.8,0.8-1.4,1.7-1.6,2.9v10H9.9V9.9c0-1-0.3-1.8-0.9-2.5
			s-1.4-1-2.2-1c-1,0-2,0.4-2.8,1.2s-1.3,1.9-1.5,3.1v9.7L1,20.4L1,20.4z"/>
		<path fill="#FFFFFF" d="M25.7,18.6c-1.3-1.4-1.9-3.2-1.9-5.5c0-2.4,0.6-4.3,1.9-5.7c1.2-1.4,2.9-2.1,5-2.1c2.1,0,3.7,0.7,5,2.1
			c1.2,1.5,1.9,3.4,1.9,5.7c0,2.3-0.6,4.1-1.9,5.5c-1.3,1.4-2.9,2.1-5,2.1C28.6,20.7,27,20,25.7,18.6z M34.7,17.8
			c1-1.2,1.5-2.7,1.5-4.7c0-2-0.5-3.6-1.5-4.8c-1-1.2-2.4-1.8-4-1.8c-1.7,0-3,0.6-4,1.8c-1,1.2-1.5,2.8-1.5,4.8c0,2,0.5,3.5,1.5,4.7
			c1,1.2,2.3,1.8,4,1.8C32.4,19.6,33.7,18.9,34.7,17.8z"/>
		<path fill="#FFFFFF" d="M44.8,20.4L39.3,5.7h1.3l5,13.1l4.7-13.1h1.3l-5.4,14.7H44.8z"/>
		<path fill="#FFFFFF" d="M54.3,0h1.4v2.1h-1.4V0z M54.3,20.4V5.7h1.4v14.7H54.3z"/>
		<path fill="#FFFFFF" d="M61,18.8c-1.2-1.5-1.8-3.4-1.8-5.7s0.6-4.3,1.8-5.7c1.2-1.4,2.8-2.1,4.7-2.1c2,0,3.5,0.7,4.7,2
			s1.8,3,1.8,5.2v0.7H60.6c0,2,0.5,3.6,1.4,4.8c0.9,1.2,2.2,1.8,3.7,1.8c1.2,0,2.2-0.3,3.2-0.9c1-0.7,1.6-1.5,2-2.5h1.4
			c-0.2,1.4-1,2.5-2.2,3.4c-1.2,0.9-2.7,1.4-4.4,1.4C63.8,20.9,62.2,20.3,61,18.8z M71,11.8v-0.5c-0.1-1.4-0.7-2.5-1.7-3.4
			c-1-0.9-2.2-1.4-3.5-1.4c-1.4,0-2.5,0.5-3.5,1.4c-1,1-1.6,2.2-1.7,3.5v0.4L71,11.8L71,11.8z"/>
		<path fill="#FFFFFF" d="M0,42.8V27.6h2.4v0.8c0.4-0.4,1-0.8,1.5-1c0.6-0.2,1.2-0.3,1.9-0.3c0.8,0,1.7,0.2,2.4,0.5
			c0.8,0.4,1.4,0.9,1.8,1.5c0.5-0.7,1.2-1.2,2-1.5c0.8-0.4,1.6-0.5,2.4-0.5c1.5,0,2.8,0.5,3.9,1.5c1.1,1,1.7,2.2,1.7,3.7v10.5h-2.4
			V32.3c0-0.9-0.3-1.6-0.9-2.2c-0.6-0.6-1.4-0.9-2.2-0.9s-1.6,0.3-2.2,0.9c-0.6,0.6-0.9,1.4-0.9,2.2v10.5H9V32.3
			c0-0.9-0.3-1.6-0.9-2.2c-0.6-0.6-1.4-0.9-2.2-0.9c-0.9,0-1.7,0.3-2.4,0.9c-0.7,0.6-1,1.4-1,2.2v10.5H0z"/>
		<path fill="#FFFFFF" d="M22.2,38.6c0-1.4,0.6-2.4,1.8-3.3c1.1-0.8,2.5-1.2,4.1-1.4c1.1-0.1,2-0.3,2.5-0.5c0.8-0.3,1.2-0.8,1.2-1.6
			c0-0.8-0.3-1.5-0.9-2c-0.6-0.5-1.4-0.8-2.2-0.8c-0.9,0-1.7,0.3-2.4,0.8c-0.7,0.5-1,1.2-1,2.1v0.5H23v-1c0-1.4,0.6-2.4,1.8-3.3
			c1.1-0.8,2.4-1.2,3.9-1.2c1.5,0,2.7,0.4,3.8,1.2c1.1,0.8,1.7,1.9,1.7,3.2v7.8c0,0.4,0.2,0.8,0.5,1.1c0.3,0.3,0.7,0.5,1.1,0.5v2.1
			h-0.9c-0.6,0-1.2-0.2-1.7-0.5c-0.5-0.3-0.8-0.8-1-1.4c-0.5,0.7-1.2,1.2-2,1.6c-0.8,0.3-1.7,0.5-2.7,0.5c-1.6,0-2.9-0.4-3.8-1.2
			C22.7,41.1,22.2,40,22.2,38.6z M24.6,38.6c0,0.7,0.3,1.2,0.9,1.7c0.5,0.4,1.2,0.6,2,0.6c1.2,0,2.2-0.3,3.1-1.1
			c0.9-0.7,1.4-1.6,1.4-2.7l0-2.1c-0.7,0.5-1.8,0.8-3.5,1l-0.7,0c-0.8,0.1-1.6,0.3-2.2,0.8C24.9,37.3,24.6,37.9,24.6,38.6z"/>
		<path fill="#FFFFFF" d="M38.6,27.4v-4.5H41v4.5h2.4v2.1H41v10c0,0.3,0.1,0.5,0.3,0.7c0.2,0.2,0.5,0.3,0.7,0.3h1.4v2.4h-2.1
			c-0.7,0-1.4-0.3-1.9-0.8c-0.5-0.5-0.8-1.2-0.8-1.9V29.5h-2.1v-2.1H38.6z"/>
		<path fill="#FFFFFF" d="M44.8,35c0-2.5,0.6-4.4,1.9-5.9c1.2-1.5,2.9-2.2,5-2.2c1.8,0,3.3,0.5,4.5,1.6c1.2,1,1.9,2.4,2,4.2h-2.4
			c-0.1-1.1-0.5-2-1.3-2.7c-0.8-0.7-1.7-1-2.9-1c-1.4,0-2.4,0.5-3.2,1.7c-0.8,1.1-1.2,2.5-1.2,4.3s0.4,3.3,1.2,4.4
			c0.8,1.1,1.9,1.7,3.2,1.7c1.2,0,2.1-0.3,2.9-1.1c0.8-0.7,1.2-1.7,1.3-2.9h2.4c-0.2,1.8-0.8,3.3-2,4.4c-1.2,1.1-2.7,1.7-4.5,1.7
			c-2.1,0-3.7-0.7-5-2.2C45.4,39.4,44.8,37.4,44.8,35z"/>
		<path fill="#FFFFFF" d="M60.6,42.8v-21H63v7.3c0.5-0.6,1.2-1.1,1.9-1.5c0.7-0.4,1.5-0.6,2.3-0.6c1.5,0,2.7,0.5,3.7,1.5
			c1,1,1.5,2.2,1.5,3.7v10.5h-2.4V32.3c0-0.8-0.3-1.5-1-2.1c-0.6-0.5-1.4-0.8-2.2-0.8c-1,0-2.2,0.8-3.7,2.5L63,32.3v10.5L60.6,42.8
			L60.6,42.8z"/>
	</g>
</g>
</svg>

</template>
