<template>
  <div>
    <svg
      version="1.1"
      id="Stepper"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      x="0px"
      y="0px"
      viewBox="117 118.5 660 47"
      enable-background="new 117 118.5 660 47"
      xml:space="preserve"
      aria-hidden="true"
    >
      <g :class="{active: step > 0 }">
        <circle fill="#757575" cx="139.5" cy="131.7" r="12.5"></circle>
        <path
          fill="#FFFFFF"
          d="M141.6,137.5h-2.4v-6.6l0-1.1l0-1.2c-0.4,0.4-0.7,0.7-0.8,0.8l-1.3,1.1L136,129l3.7-2.9h2V137.5z"
        ></path>
        <text
          transform="matrix(1 0 0 1 117.3575 163.1633)"
          fill="#757575"
          font-family="'OpenSans'"
          font-size="12px"
        >Función</text>
      </g>
      <g :class="{active: step > 1 }">
        <circle fill="#757575" cx="343.5" cy="132.7" r="12.5"></circle>
        <path
          fill="#FFFFFF"
          d="M347.1,138.5h-8v-1.7l2.9-2.9c0.8-0.9,1.4-1.5,1.7-1.8c0.3-0.3,0.4-0.7,0.6-0.9c0.1-0.3,0.2-0.6,0.2-0.9
        c0-0.5-0.1-0.8-0.4-1c-0.2-0.2-0.6-0.3-1-0.3c-0.4,0-0.9,0.1-1.3,0.3c-0.4,0.2-0.9,0.5-1.3,0.9l-1.3-1.6c0.6-0.5,1-0.8,1.4-1
        c0.4-0.2,0.8-0.3,1.2-0.5c0.4-0.1,0.9-0.2,1.5-0.2c0.7,0,1.3,0.1,1.9,0.4s1,0.6,1.3,1.1c0.3,0.5,0.5,1,0.5,1.6c0,0.5-0.1,1-0.3,1.5
        c-0.2,0.5-0.5,0.9-0.9,1.4c-0.4,0.5-1.1,1.2-2,2.1l-1.5,1.4v0.1h5V138.5z"
        ></path>
        <line fill="none" stroke="#757575" stroke-dasharray="5 5" x1="177" y1="132" x2="306" y2="132"></line>
        <text
          transform="matrix(1 0 0 1 321.4188 162.1626)"
          fill="#757575"
          font-family="'OpenSans'"
          font-size="12px"
        >Butacas</text>
      </g>
      <g :class="{active: step > 2 }">
        <circle fill="#757575" cx="545.5" cy="131.7" r="12.5"></circle>
        <path
          fill="#FFFFFF"
          d="M549.4,128.6c0,0.7-0.2,1.3-0.6,1.8s-1,0.8-1.8,1v0c0.9,0.1,1.6,0.4,2.1,0.8c0.5,0.4,0.7,1,0.7,1.8
      c0,1.1-0.4,2-1.2,2.6c-0.8,0.6-1.9,0.9-3.4,0.9c-1.2,0-2.3-0.2-3.3-0.6v-2.1c0.4,0.2,0.9,0.4,1.5,0.5c0.5,0.1,1.1,0.2,1.6,0.2
      c0.8,0,1.4-0.1,1.8-0.4c0.4-0.3,0.6-0.7,0.6-1.3c0-0.5-0.2-0.9-0.7-1.1c-0.4-0.2-1.1-0.3-2.1-0.3h-0.9v-1.9h0.9
      c0.9,0,1.5-0.1,1.9-0.3c0.4-0.2,0.6-0.6,0.6-1.2c0-0.9-0.5-1.3-1.6-1.3c-0.4,0-0.8,0.1-1.1,0.2c-0.4,0.1-0.8,0.3-1.3,0.6l-1.1-1.7
      c1-0.8,2.3-1.1,3.7-1.1c1.2,0,2.1,0.2,2.8,0.7C549,127.1,549.4,127.7,549.4,128.6z"
        ></path>
        <text
          transform="matrix(1 0 0 1 531.6399 161.3846)"
          fill="#757575"
          font-family="'OpenSans'"
          font-size="12px"
        >Pago</text>
        <line fill="none" stroke="#757575" stroke-dasharray="5 5" x1="380" y1="132" x2="509" y2="132"></line>
      </g>
      <g :class="{active: step > 3 }">
        <line fill="none" stroke="#757575" stroke-dasharray="5 5" x1="583" y1="132" x2="712" y2="132"></line>
        <circle fill="#757575" cx="749.4" cy="132.1" r="12.5"></circle>
        <path
          fill="#FFFFFF"
          d="M753.8,135.1h-1.4v2.4h-2.4v-2.4h-4.9v-1.7l5-7.4h2.2v7.2h1.4V135.1z M750.1,133.2v-1.9c0-0.3,0-0.8,0-1.4
      c0-0.6,0-1,0.1-1.1h-0.1c-0.2,0.4-0.4,0.8-0.7,1.2l-2.1,3.2H750.1z"
        ></path>
        <text
          transform="matrix(1 0 0 1 723.1981 163.0415)"
          fill="#757575"
          font-family="'OpenSans'"
          font-size="12px"
        >Compartí</text>
      </g>
    </svg>
    <h1 class="sr-only" id="start-here">Estas en el paso {{numeroOrdinal[step-1]}} de cuatro</h1>
  </div>
</template>
<script>
export default {
  props: ['step'],

  data: () => ({
    numeroOrdinal: ['primero', 'segundo', 'tercero', 'cuarto'],
  }),
};
</script>

<style lang="scss" scoped>
@import '../scss/helper/variables.scss';
#Stepper {
  max-width: 660px;
  margin: 50px auto 40px;
  display: block;
  .active {
    circle,
    text {
      fill: $primary-color2;
    }
    text {
      font-weight: bold;
    }
    line {
      stroke: $primary-color2;
    }
  }
}
</style>
