<template>
  <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
    <circle cx="25" cy="25" r="25" fill="#2C6EE8"></circle>
    <path
      d="M35.875 14H12.875C11.2794 14 10.0144 15.2794 10.0144 16.875L10 34.125C10 35.7206 11.2794 37 12.875 37H35.875C37.4706 37 38.75 35.7206 38.75 34.125V16.875C38.75 15.2794 37.4706 14 35.875 14ZM35.875 34.125H12.875V25.5H35.875V34.125ZM35.875 19.75H12.875V16.875H35.875V19.75Z"
      fill="white"
    ></path>
  </svg>
</template>
