<template>
  <div class="assistive-text" aria-live="assertive" aria-relevant="additions">
    <div :key="emit">{{msg}}</div>
  </div>
</template>

<script>
export default {
  name: 'AriaLive',
  computed: {
    msg() {
      return this.$store.getters.ariaLive.msg;
    },
    emit() {
      return this.$store.getters.ariaLive.emit;
    },
  },
};
</script>
<style lang="scss" scoped>
.assistive-text {
  position: absolute;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
</style>
