<template>
  <div class="butacas">
    <v-layout align-center justify-center row>
      <v-flex xs7>
        <div class="pantalla-conteiner">
          <div class="linea-loca linea-loca-left"></div>
          <h3 class="pantalla">Pantalla</h3>
          <div class="linea-loca linea-loca-right"></div>
        </div>
        <div class="columna-top">
          <span
            aria-hidden="true"
            v-for="(col) in alphabetSlice"
            :key="`columna-${col}-top`"
          >{{col}}</span>
        </div>
        <ol>
          <li v-for="(fila) in filas" :key="`fila-${fila}`" class="fila">
            <span aria-hidden="true" class="fila-left">{{fila}}</span>
            <div
              role="grid"
              class="round not-scroll"
              :class="classes({fila,col})"
              v-for="(col) in alphabetSlice"
              :key="`fila-${fila}-columna-${col}-div`"
              :ref="`fila-${fila}-columna-${col}-div`"
              tabindex="-1"
              @keyup.up.self="focusTo('up')"
              @keyup.down.self="focusTo('down')"
              @keyup.left.self="focusTo('left')"
              @keyup.right.self="focusTo('right')"
              @keyup.shift.l="read(getListButacas)"
              @keyup.shift.i="read(getInfo)"
            >
              <label :for="`fila-${fila}-columna-${col}`" :ref="`fila-${fila}-columna-${col}`"></label>
              <input
                class="not-scroll"
                type="checkbox"
                :aria-label="`${isDisable({fila, col}) ? 'La butaca no está disponible. ' : ''}Fila ${fila}, columna ${col}.
              Para más información presione shift más i`"
                :ref="`fila-${fila}-columna-${col}`"
                @keyup.up="focusTo('up')"
                @keyup.down="focusTo('down')"
                @keyup.left="focusTo('left')"
                @keyup.right="focusTo('right')"
                @keyup.shift.l="read(getListButacas)"
                @keyup.shift.i="read(getInfo)"
                @focus="onFocus({fila, col})"
                :name="`fila-${fila}-columna-${col}`"
                @change="(e)=>toggle(e.target.checked, {fila, col})"
                :id="`fila-${fila}-columna-${col}`"
                :disabled="isDisable({fila, col})"
                :checked="isCheked({ fila, col })"
              >
            </div>
            <span aria-hidden="true" class="fila-right">{{fila}}</span>
          </li>
        </ol>
        <div class="columna-bottom">
          <span
            aria-hidden="true"
            v-for="(col) in alphabetSlice"
            :key="`columna-${col}-bottom`"
          >{{col}}</span>
        </div>
        <p
          class="validacion"
          v-if="validacion && !this.$store.getters.userSelected.butacasSelected.length"
        >Debes elegir al menos una butaca para continuar</p>
        <p aria-hidden="true" class="aclaracion">
          Esta pantalla es una representación de la sala. Para seleccionar las butacas, hacé click sobre aquellas
          marcadas como disponibles.
        </p>
        <div aria-hidden="true" class="referencias">
          <h3>Referencias</h3>
          <v-layout align-center justify-center row fill-height>
            <div>
              <div class="round">
                <label></label>
                <p>Disponible</p>
              </div>
            </div>
            <div>
              <div class="round checked">
                <label></label>
                <p>Seleccionada</p>
              </div>
            </div>
            <div>
              <div class="round is-disable">
                <label></label>
                <p>No disponible</p>
              </div>
            </div>
          </v-layout>
        </div>
      </v-flex>

      <v-flex xs5 align-self-start>
        <div class="border-loco">
          <h3>Tu reserva:</h3>
          <p
            v-if="butacasSelected.length"
          >{{butacasSelected.length}} {{butacasSelected.length === 1 ? 'butaca' : 'butacas'}}</p>
          <p v-else>No hay butacas seleccionadas</p>
          <h3>Precio por butaca:</h3>
          <p>${{$store.getters.precio}}</p>
          <h3>Total:</h3>
          <p>${{$store.getters.precio * butacasSelected.length}}</p>
        </div>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
export default {
  name: 'home',
  props: ['validacion'],
  data: () => {
    const columnas = 15;
    return {
      filas: 10,
      columnas,
      focus: {},
      numeroOrdinal: [
        'Primera',
        'Segunda',
        'Tercera',
        'Cuarta',
        'Quinta',
        'Sexta',
        'Séptima',
        'Octava',
        'Novena',
        'Décima',
        'Décima primera',
        'Décima segunda',
        'Décima tercera',
        'Décima cuarta',
        'Décima quinta',
        'Décima sexta',
        'Décima séptima',
        'Décima octava',
        'Décimo noveno',
      ],
      alphabetSlice: 'abcdefghijklmnopqrstuvwxyz'
        .toUpperCase()
        .split('')
        .slice(0, columnas),
    };
  },
  computed: {
    getListButacas() {
      let selectedsString = '';
      if (this.butacasSelected.length) {
        selectedsString = 'Las butacas seleccionadas son: ';
        _.forEach(this.butacasSelected, (selected, i) => {
          selectedsString += `${this.numeroOrdinal[i] ||
            'siguiente buetaca'}: fila ${selected.fila}, columna ${
            selected.col
          }${this.butacasSelected[i + 1] ? ', ' : ''}`;
        });
      } else {
        selectedsString = 'No tienes butacas seleccionadas';
      }
      return selectedsString;
    },
    getInfo() {
      return `Las butacas tienen ${
        this.filas
      } filas y las columnas van de la A a la ${
        this.alphabetSlice[this.columnas - 1]
      }.
      Has seleccionado ${this.butacasSelected.length} ${
        this.butacasSelected.length === 1 ? 'butaca' : 'butacas'
      }.
      Para escuchar el listado de butacas seleccionadas apreta shift + L.`;
    },
    butacasSelected: {
      get() {
        return this.$store.getters.userSelected.butacasSelected;
      },
      set(value) {
        this.$store.commit('userSelected', {
          property: 'butacasSelected',
          value,
        });
      },
    },
  },
  methods: {
    isCheked({ fila, col }) {
      const selected = _.find(
        this.butacasSelected,
        b => col === b.col && fila === b.fila,
      );
      return !_.isEmpty(selected);
    },
    getRef({ fila, col }, postfijo) {
      return `fila-${fila}-columna-${col}${postfijo || ''}`;
    },
    isfocus({ fila, col }) {
      return this.focus.fila === fila && this.focus.col === col;
    },
    isDisable({ fila, col }) {
      const isDisable = _.find(
        this.$store.getters.butacasDisabled,
        b => col === b.col && fila === b.fila,
      );
      return !_.isEmpty(isDisable);
    },
    classes({ fila, col }) {
      return {
        checked: this.isCheked({ fila, col }),
        'focus-for-keyboard': this.isfocus({ fila, col }),
        'is-disable': this.isDisable({ fila, col }),
      };
    },
    read(msg) {
      this.$store.commit('ariaLive', { msg });
    },
    isPositionExist({ fila, col }) {
      if (fila > this.filas || fila < 1 || col === undefined || col < 1) {
        return false;
      }
      return true;
    },
    focusTo(type) {
      let position = {};
      switch (type) {
        case 'up':
          position = { fila: this.focus.fila - 1, col: this.focus.col };
          break;
        case 'down':
          position = { fila: this.focus.fila + 1, col: this.focus.col };
          break;
        case 'left':
          position = {
            fila: this.focus.fila,
            col: this.alphabetSlice[
              this.alphabetSlice.indexOf(this.focus.col) - 1
            ],
          };
          break;
        case 'right':
          position = {
            fila: this.focus.fila,
            col: this.alphabetSlice[
              this.alphabetSlice.indexOf(this.focus.col) + 1
            ],
          };
          break;
        default:
          break;
      }
      if (this.isPositionExist(position)) {
        this.focus = position;
        if (this.isDisable(position)) {
          this.$refs[this.getRef(position, '-div')][0].focus();
        } else {
          this.$refs[this.getRef(position)][0].focus();
        }
      } else {
        if (position.fila > this.filas || position.fila < 1) {
          this.read(
            'Estas intentando seleccionar una butaca que está fuera del gráfico.',
          );
        } else if (position.col === undefined || position.col < 1) {
          this.read(
            'Estas intentando seleccionar una butaca que está fuera del gráfico.',
          );
        }
      }
    },
    onFocus({ fila, col }) {
      this.focus = { fila, col };
    },
    toggle(value, newButaca) {
      if (value) {
        this.butacasSelected.push(newButaca);
      } else {
        this.butacasSelected = _.filter(
          this.butacasSelected,
          b => !(newButaca.col === b.col && newButaca.fila === b.fila),
        );
      }
    },
  },
};
</script>
<style lang="scss" scoped>
@import '../assets/scss/helper/variables.scss';
@import '../assets/scss/helper/text.scss';
li > div {
  float: left;
}
.aclaracion {
  margin-top: 30px;
  @extend %font-p3;
}
ol {
  list-style-type: none;
  padding-left: 0;
}
.fila {
  clear: both;
}
.linea-loca {
  height: 1px;
  background: #000;
  width: 31%;
  float: left;
  margin-top: 12px;
  &-left {
    margin-left: 32px;
  }
  &-right {
    margin-right: 18px;
  }
}
.referencias {
  h3 {
    @extend %font-p5;
  }
  .round {
    width: 145px;
    float: left;
    label {
      display: block;
      position: relative;
      float: left;
      cursor: auto;
    }
    p {
      margin-left: 5px;
      @extend %font-p6;
      float: left;
    }
  }
}
.border-loco {
  border: 1px solid $grey-color3;
  border-radius: 19px;
  padding: 20px 25px;
  h3 {
    @extend %font-p1;
    font-weight: normal;
  }
  p {
    font-weight: bold;
  }
}
span {
  @extend %font-p6;
  &.fila-left {
    width: 16px;
    float: left;
    text-align: right;
    margin-right: 10px;
  }
  &.fila-right {
    width: 16px;
    float: left;
    text-align: left;
    margin-left: 10px;
  }
}
.pantalla-conteiner {
  margin-bottom: 11px;
  display: table;
  width: 100%;
  .pantalla {
    @extend %font-p5;
    font-weight: bold;
    float: left;
    width: 90px;
    text-align: center;
  }
}
.columna-top,
.columna-bottom {
  clear: both;
  padding-left: 30px;
  span {
    width: 18px;
    display: block;
    float: left;
    margin-right: 8.3px;
    @extend %font-p6;
    text-align: center;
    &:nth-child(3),
    &:nth-child(12) {
      margin-right: calc(16px + 7.5px);
    }
  }
}
.round {
  position: relative;
  margin: 4.4px;
  height: 18px;
  width: 18px;
  label {
    border: 3px solid;
    border-style: solid;
    border-color: #39cccc;
    border-radius: 50%;
    cursor: pointer;
    height: 18px;
    left: 0;
    position: absolute;
    top: 0;
    width: 18px;
    display: inline-block;
    &:after {
      content: '';
      height: 6px;
      left: 3px;
      top: 3px;
      position: absolute;
      width: 6px;
      background: black;
      border-radius: 50%;
      z-index: 9;
      opacity: 0;
    }
  }
  &.checked {
    label {
      border-color: $primary-color2;
      border-width: 2px;
      &:after {
        left: 4px;
        top: 4px;
        opacity: 1;
        background-color: $primary-color2;
      }
    }
  }
  &.is-disable {
    label {
      background-color: $grey-color2;
      border-color: $grey-color2;
    }
  }
  &:nth-child(4),
  &:nth-child(13) {
    margin-right: 16px;
  }
  input {
    opacity: 0.2; // if is 0, the voiceOver omit the input.
    margin: 3px auto;
    display: block;
    z-index: -1;
  }
}
.has_focus .focus-for-keyboard {
  outline: #000;
  outline-width: 2px;
  outline-style: dashed;
  outline-offset: 3px;
}
.validacion {
  clear: both;
  color: red;
  text-decoration: underline;
  margin-top: 30px;
  display: table;
}
</style>
