
<template>
  <div class="exito">
    <h1>¡Tu compra fue exitosa!</h1>
    <v-layout wrap>
      <v-flex xs10 class="selected">
        <div class="titles">
          <h3>Compartí el link de pago para que tus amigos puedan abonar sus entradas reservadas.</h3>
          <h3>Tienen hasta 3 horas para pagarlas.</h3>
        </div>
        <h4>Comparti el link de pago.</h4>
        <div style="position: relative; display: table;">
          <p class="vinculo float-left">{{link}}</p>
          <v-btn
            @click="copyToClipboard"
            class="copiar mm btn-secondary-info float-left"
          >Copiar link</v-btn>
          <h4 class="is-ok" v-if="showOKcopy">El link se copió correctamente al portapapeles</h4>
        </div>

        <div class="mails">
          <label for="mails">O ingresa el email de tus amigos</label>
          <textarea
            id="mails"
            cols="30"
            rows="2"
            v-model="mailsData"
            placeholder="demo@dominio.com  demo1@dominio.com  demo2@dominio.com"
          ></textarea>
          <v-btn :disabled="!isAllVAlided" class="copiar mm btn-secondary-info float-left" @click="enviarMail">Enviar links</v-btn>
          <h4 class="is-ok" v-if="showOKmails">Los mails se enviaron correctamente</h4>
        </div>
        <div class="list-of-mails">
          <ul>
            <li v-for="(mail, i) in mailslist" :key="mail+i">
              {{mail}}
              <span v-if="!validateEmail(mail)">No es valido</span>
            </li>
          </ul>
        </div>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
/*eslint no-useless-escape: 0*/
export default {
  name: 'CompartirLink',
  data: () => {
    let text = '';
    const possible =
      'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
    for (let i = 0; i < 20; i++)
      text += possible.charAt(Math.floor(Math.random() * possible.length));
    return {
      mailsData: '',
      link: `http://movie-match.com/${text}`,
      showOKcopy: false,
      showOKmails: false,
    };
  },
  computed: {
    mailslist: {
      get() {
        if (_.isEmpty(this.mailsData)) {
          return [];
        }
        let emails = this.mailsData.split(/[\s,]+/);
        return emails.filter(Boolean);
      },
    },
    isAllVAlided() {
      let isAllValided = true;
      _.forEach(this.mailslist, mail => {
        if (!this.validateEmail(mail)) {
          isAllValided = false;
          return false;
        }
      });
      return isAllValided;
    },
  },
  methods: {
    validateEmail(email) {
      const re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(String(email).toLowerCase());
    },
    copyToClipboard() {
      var $temp = $('<input>');
      $('body').append($temp);
      $temp.val(this.link).select();
      document.execCommand('copy');
      $temp.remove();
      this.showOKcopy = true;

      this.$store.commit('ariaLive', {
        msg: 'El link se copió correctamente al portapapeles',
      });
      setTimeout(() => {
        this.showOKcopy = false;
      }, 5000);
    },
    enviarMail() {
      this.showOKmails = true;
      this.$store.commit('ariaLive', {
        msg: 'Los mails se enviaron correctamente',
      });
      setTimeout(() => {
        this.showOKmails = false;
      }, 5000);
      this.mailsData = '';
    },
  },
};
</script>

<style lang="scss" scoped>
@import '../assets/scss/helper/variables.scss';
@import '../assets/scss/helper/text.scss';
.exito {
  h4 {
    @extend %font-p5;
    font-weight: bold;
    clear: both;
    display: block;
    margin-bottom: 7px;
  }
  h1 {
    @extend %font-h1_1;
    color: $primary-color2;
    padding-bottom: 22px;
    margin-top: 35px;
    margin-bottom: 30px;
  }
  .titles {
    margin-bottom: 50px;
    h3 {
      @extend %font-p4;
    }
  }
  .is-ok {
    display: block;
    clear: both;
    background: lighten($alert-color-approve, 60%);
    margin-bottom: 34px;
    float: left;
    padding: 15px;
    border-radius: 5px;
    @extend %font-p5;
  }
  button.copiar {
    margin-top: 0;
  }
  label {
    @extend %font-p5;
    font-weight: bold;
    clear: both;
    display: block;
    margin-bottom: 7px;
    margin-top: 30px;
  }
  p.vinculo {
    border: 1px solid #d0d0d0;
    padding: 7px;
    width: 510px;
    margin-bottom: 0;
  }
  .float-left {
    float: left;
  }
  textarea {
    border: 1px solid #d0d0d0;
    float: left;
    @extend %font-p5;
    font-weight: bold;
    padding: 7px;
    width: 510px;
  }
  .list-of-mails {
    display: block;
    clear: both;
    margin-top: 60px;
    position: relative;
    span {
      text-decoration: underline;
      color: red;
    }
  }
  .mails {
    display: table;
    clear: both;
    position: relative;
  }
}
</style>
