<template>
  <div class="elegi-funcion">
    <h1>ELEGÍ LA FUNCIÓN</h1>
    <v-layout wrap>
      <v-flex xs6>
        <label id="datepickerLabel" for="datepicker">Día:</label>
        <input id="datepicker" class="datepicker" v-model="date" required readonly>
        <label class="cine" for="cine">Cine:</label>
        <select class="form-control" id="cine" v-model="cineSelected">
          <option value selected>Elegí el cine</option>
          <optgroup :key="cine.value" v-for="cine in cines" :label="cine.name">
            <option
              :key="cine.value+ubication.value"
              v-for="(ubication) in cine.ubications"
              :value="`${cine.name} ( ${ubication.name} )`"
            >{{`${cine.name} ( ${ubication.name} )`}}</option>
          </optgroup>
        </select>
        <fieldset v-if="cineSelected && date" class="margin-top">
          <legend>Tipo de sala:</legend>
          <div :key="sala.value" v-for="sala in types.salas" class="container-radio-buttons">
            <input
              v-model="salaSelected"
              :value="sala.value"
              type="radio"
              name="sala"
              class="sr-only"
              :id="sala.value"
            >
            <v-btn
              tag="label"
              :for="sala.value"
              class="mm radio"
              :class="salaSelected === sala.value ? 'info' : 'btn-secondary-info'"
              :ref="sala.value"
            >
              <div class="sr-only">Sala</div>
              {{sala.value}}
            </v-btn>
          </div>
        </fieldset>
        <fieldset v-if="cineSelected && salaSelected" class="margin-top">
          <legend>Idioma:</legend>
          <div :key="idioma.value" v-for="idioma in types.idiomas" class="container-radio-buttons">
            <input
              v-model="idiomaSelected"
              :value="idioma.value"
              type="radio"
              name="idioma"
              class="sr-only"
              :id="idioma.value"
            >
            <v-btn
              tag="label"
              :for="idioma.value"
              class="mm radio"
              :class="idiomaSelected === idioma.value ? 'info' : 'btn-secondary-info'"
              :ref="idioma.value"
            >{{idioma.value}}</v-btn>
          </div>
        </fieldset>
        <fieldset v-if="cineSelected && salaSelected && idiomaSelected" class="margin-top">
          <legend>Franja horaria:</legend>
          <v-layout wrap>
            <v-flex
              :key="franjaHoraria.value"
              v-for="franjaHoraria in types.franjasHoraria"
              xs4
              :class="franjaSelected === franjaHoraria.value ? 'selected' : ''"
              class="franja-col"
            >
              <label aria-hidden="true" class="label-franja">{{franjaHoraria.label}}</label>

              <template v-for="time in franjaHoraria.times">
                <input
                  :key="time.value"
                  :value="time.value"
                  @change="()=>{timeSelected = time.value; franjaSelected = franjaHoraria.value}"
                  type="radio"
                  name="time"
                  class="sr-only"
                  :id="time.value"
                  :checked="timeSelected === time.value"
                >
                <v-btn
                  tag="label"
                  :key="`${time.value}-label`"
                  :for="time.value"
                  class="mm radio franja"
                  :class="timeSelected === time.value ? 'info' : 'btn-secondary-info'"
                  :ref="time.value"
                >{{time.label}}</v-btn>
              </template>
            </v-flex>
          </v-layout>
        </fieldset>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
import dataPicker from './dataPicker';

export default {
  name: 'ElegiFuncion',
  mixins: [dataPicker],
  computed: {
    $() {
      return $;
    },
    types() {
      return this.$store.getters.types;
    },
    cines() {
      return this.$store.getters.cines;
    },
    userSelected() {
      return this.$store.getters.userSelected;
    },
    date: {
      get() {
        return this.userSelected.date;
      },
      set(value) {
        this.$store.commit('userSelected', { property: 'date', value });
        this.salaSelected = '';
      },
    },
    cineSelected: {
      get() {
        return this.userSelected.cineSelected;
      },
      set(value) {
        this.$store.commit('userSelected', { property: 'cineSelected', value });
        this.salaSelected = '';
      },
    },
    salaSelected: {
      get() {
        return this.userSelected.salaSelected;
      },
      set(value) {
        this.$store.commit('userSelected', { property: 'salaSelected', value });
        this.idiomaSelected = '';
      },
    },
    idiomaSelected: {
      get() {
        return this.userSelected.idiomaSelected;
      },
      set(value) {
        this.$store.commit('userSelected', {
          property: 'idiomaSelected',
          value,
        });
        this.timeSelected = '';
        this.franjaSelected = '';
      },
    },
    franjaSelected: {
      get() {
        return this.userSelected.franjaSelected;
      },
      set(value) {
        this.$store.commit('userSelected', {
          property: 'franjaSelected',
          value,
        });
      },
    },
    timeSelected: {
      get() {
        return this.userSelected.timeSelected;
      },
      set(value) {
        this.$store.commit('userSelected', { property: 'timeSelected', value });
      },
    },
  },
};
</script>

<style lang="scss" scoped>
@import '../assets/scss/helper/variables.scss';
@import '../assets/scss/helper/text.scss';
.elegi-funcion {
  h1 {
    @extend %font-h1_1;
    color: $primary-color2;
    padding-bottom: 22px;
    margin-top: 35px;
    margin-bottom: 30px;
  }
  label:not(.v-btn),
  fieldset {
    width: 100%;
    display: block;
    font-weight: 800;
    @extend %font-p2;
    margin-bottom: 5px;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding: 0;
    border-width: 0;
  }
  .container-radio-buttons {
    display: block;
    float: left;
  }
  .mm {
    min-height: 40px;
    min-width: 80px;
  }
  .franja {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 110px;
    padding: 7px 0 0;
  }
  .margin-top {
    margin-top: 40px;
  }
  .cine {
    margin-top: 20px;
  }
  .label-franja {
    margin-bottom: 30px;
    margin-top: 10px;
    text-align: center;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
  }
  .franja-col {
    padding-bottom: 10px;
    &.selected {
      background-color: lighten($primary-color2, 40%);
    }
  }
  select.form-control {
    border-bottom: rgba(0, 0, 0, 0.87) solid 1px;
    border-radius: 0;
    box-shadow: none;
    -webkit-appearance: menulist;
    --moz-appearance: menulist;
    &:focus {
      border-bottom: #2b4a83 solid 2px;
    }
  }
}
#datepicker {
  margin: 0;
  padding: 0;
  height: 25px;
  vertical-align: bottom;
}
.datepicker {
  width: 170px;
  @extend %font-p1;
}
</style>
<style>
.elegi-funcion button.ui-datepicker-trigger {
  position: absolute;
  margin-top: -5px !important;
}
.ui-datepicker-trigger {
  margin: 2px;
  padding: 0;
  vertical-align: bottom;
}
.ui-datepicker-trigger img {
  width: 30px;
  height: 30px;
}
.offscreen {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  margin: 0;
  padding: 0;
}
button.ui-datepicker-trigger {
  background-color: transparent !important;
  border: none !important;
  margin: auto !important;
}
button.ui-datepicker-trigger:focus,
button.ui-datepicker-trigger:hover,
button.ui-datepicker-trigger:active {
  border: none !important;
  margin: auto !important;
  outline: 2px solid #8cc63f !important;
  background-color: #fdf6e7 !important;
}
</style>
