<template>
  <div>
    <iframe
      :src="pelicula.linkYoutubeTrailer"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
      style="width: 100%; height: 240px;"
    />
    <v-layout align-center justify-center dark>
      <v-flex xs12 sm10>
        <h1>{{pelicula.title}}</h1>
        <p class="mini">Duración:</p>
        <p class="value">
          <i class="material-icons" aria-hidden="true">access_time</i>
          <span class="duration">{{pelicula.duration}}</span>
        </p>
        <p class="mini">Calificación:</p>
        <p class="value">+13 años</p>
        <p class="mini">Compartir:</p>
        <div class="social-icons">
          <a href="https://www.facebook.com/" target="_blank">
            <i
              style="color: #39CCCC;"
              class="fa fa-share-alt-square"
              aria-hidden="true"
              title="facebook"
            ></i>
            <span class="sr-only">compartir link</span>
          </a>
          <a href="https://www.facebook.com/" target="_blank">
            <i
              style="color: #425F9C;"
              class="fa fa-facebook-square"
              aria-hidden="true"
              title="facebook"
            ></i>
            <span class="sr-only">facebook</span>
          </a>
          <a href="https://www.twitter.com" target="_blank">
            <i
              style="color: #43BCEB;"
              class="fa fa-twitter-square"
              aria-hidden="true"
              title="twitter"
            ></i>
            <span class="sr-only">twitter</span>
          </a>
        </div>
        <h2>SINOPSIS</h2>
        <p class="sinopsis">{{pelicula.sinopsis}}</p>
        <h2>FICHA TÉCNICA</h2>
        <div class="sinopsis">
          <p>
            Origen:
            <span>{{pelicula.fichaTecnica.origen}}</span>
          </p>
          <p>
            Genero:
            <span>{{pelicula.fichaTecnica.genero}}</span>
          </p>
          <p>
            Director:
            <span>{{pelicula.fichaTecnica.director}}</span>
          </p>
          <p>
            Actores:
            <span>{{pelicula.fichaTecnica.actores}}</span>
          </p>
          <p>
            Distribuidora:
            <span>{{pelicula.fichaTecnica.distribuidora}}</span>
          </p>
        </div>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
export default {
  name: 'FichaTecnica',
  computed: {
    pelicula() {
      return this.$store.getters.pelicula;
    },
  },
  created() {
    this.$store.commit('peliculaId', { id: this.$route.params.id });
  },
};
</script>

<style lang="scss" scoped>
@import '../assets/scss/helper/variables.scss';
@import '../assets/scss/helper/text.scss';
.ficha-tecnica {
  background-color: $grey-color4;
  p,
  h1,
  h2 {
    color: $text-color-light;
  }
  h2 {
    @extend %font-p4;
  }
  .sinopsis p {
    @extend %font-p2;
    font-weight: 700;
    > span {
      font-weight: 400;
    }
  }
  h1 {
    @extend %font-h1;
    color: $text-color-light;
    line-height: 42px;
    margin-top: 31px;
    margin-bottom: 5px;
  }
  .duration {
    vertical-align: top;
    margin-left: 5px;
  }
  .mini {
    @extend %font-p3;
    margin-bottom: 0;
  }
  .value {
    @extend %font-p2;
    font-weight: bold;
  }
  .social-icons {
    margin-bottom: 30px;
    margin-top: 8px;
    .fa {
      font-size: 37px;
      margin-right: 10px;
    }
  }
  /deep/ .v-rating .v-icon {
    padding: 0.5rem 0.5rem 0.5rem 0rem;
    font-size: 18px;
  }
}
</style>
