<template>
  <footer>
    <div class="footer-container">
      <div class="text-left">
        <p class="first">
          Este sitio cumple con las normas de accesibilidad AA de la
          <a
            href="http://accesibilidadweb.dlsi.ua.es/?menu=wcag-2.1"
            target="_blank"
          >W3CG 2.1</a>
        </p>
        <p class="second">Por consultas comunicate al
          <a target="_blank" href="tel:0800-333-8976">0800-333-8976</a>
        </p>
      </div>
      <div class="social-icons">
        <a href="https://www.facebook.com/" target="_blank">
          <i class="fa fa-facebook-square" aria-hidden="true" title="facebook"></i>
          <span class="sr-only">facebook</span>
        </a>
        <a href="https://www.twitter.com" target="_blank">
          <i class="fa fa-twitter-square" aria-hidden="true" title="twitter"></i>
          <span class="sr-only">twitter</span>
        </a>
        <a href="https://www.youtube.com" target="_blank">
          <i class="fa fa-youtube-play" aria-hidden="true" title="youtube"></i>
          <span class="sr-only">youtube</span>
        </a>
      </div>
    </div>
  </footer>
</template>
<style lang="scss" scoped>
@import '../assets/scss/helper/variables.scss';
@import '../assets/scss/helper/text.scss';
footer {
  background: $primary-color2;
  color: $text-color-light;
  display: table;
  width: 100%;
  padding: 20px;
  .footer-container {
    max-width: 1440px;
    display: table;
    margin: auto;
    width: 100%;
    .text-left {
      float: left;
      .first,
      .second {
        margin: 0;
        text-align: left;
      }
      .first {
        @extend %font-p6;
        a {
          color: $text-color-light;
          font-weight: 800;
        }
      }
      .second {
        @extend %font-p5;
        a {
          color: $text-color-light;
          font-weight: 800;
        }
      }
    }
    .social-icons {
      float: right;
      i {
        font-size: 35px;
        color: $text-color-light;
        margin-left: 15px;
      }
    }
  }
}
</style>
