<template>
  <v-toolbar :color="isTo ? 'transparent': 'primary'" class="nav" :class="{'top':isTo}">
    <v-toolbar-title>
      <router-link :to="{path:'/',hash:'app'}">
        <Logo/>
      </router-link>
    </v-toolbar-title>
    <v-spacer></v-spacer>
    <router-link :to="{path:'/',hash:'buscador'}">
      <v-btn tag="div" dark icon>
        <v-icon>search</v-icon>
        <div class="sr-only">buscar</div>
      </v-btn>
    </router-link>
    <router-link :to="{path:'/',hash:'app'}">
      <v-btn tag="div" dark flat>REGISTRATE</v-btn>
    </router-link>
    <router-link :to="{path:'/',hash:'app'}">
      <v-btn tag="div" class="mm" dark color="#2C6EE8">INICIÁ SESIÓN</v-btn>
    </router-link>
  </v-toolbar>
</template>

<script>
import Logo from '../assets/svg/Logo.vue';
export default {
  name: 'Navbar',
  components: {
    Logo,
  },
  data: () => ({
    offsetTop: 0,
  }),
  computed: {
    isTo() {
      return this.offsetTop < 50 && this.$router.currentRoute.name === 'inicio';
    },
  },
  mounted() {
    document.addEventListener('scroll', () => {
      this.offsetTop = window.pageYOffset || document.documentElement.scrollTop;
    });
  },
};
</script>
<style lang="scss" scoped>
nav.nav {
  &.top {
    box-shadow: none;
  }
  /deep/ {
    position: fixed;
    top: 0;
    z-index: 50;
    a {
      font-weight: bold;
      text-decoration: none !important;
    }
  }
}
</style>
