<template>
  <form id="form" @submit.prevent="submit">
    <h1>PAGÁ TUS ENTRADAS</h1>
    <v-layout wrap>
      <v-flex xs12 class="selected">
        <h2>¡Tenés un 60% de descuento con Movie Match!</h2>
        <p class="color-note">
          El resto de las entradas las paga cada uno de tus amigos,
          solo tenes que compartirles un link!
        </p>
        <label class="big-label">
          Elegí cuántas pagas
          <span class="asterisco">*</span>
        </label>
        <div class="select-container">
          <select class="form-control" id="butacas" v-model="butacasAPagar">
            <option v-for="i in butacasSelected.length" :key="i" :value="i">{{i}}</option>
          </select>
        </div>
        <p class="pagas">
          <span>Pagas:</span>
          ${{160 * butacasAPagar}}
        </p>
        <h2 class="big-label">Completá el formulario de pago</h2>
        <label for="email">
          Dirección de e-mail
          <span class="asterisco">*</span>
        </label>
        <v-text-field
          class="email"
          id="email"
          type="email"
          v-validate="'required|email'"
          v-model="form.email"
          :error-messages="errors.collect('email')"
          data-vv-name="email"
          placeholder="demo@dominio.com"
          required
        ></v-text-field>
        <label for="email">
          Medio de pago
          <span class="asterisco">*</span>
        </label>
        <div class="select-container">
          <select
            name="pago"
            data-vv-name="pago"
            class="form-control"
            id="pago"
            v-model="form.medioPagoSelected"
            v-validate="'required'"
          >
            <option key="none" selected value>Elige un medio de pago</option>
            <option v-for="value in mediosDePagos" :key="`pago-${value}`" :value="value">{{value}}</option>
          </select>
          <span v-if="errors.collect('pago')" class="error--text">{{errors.collect('pago')[0]}}</span>
        </div>

        <div class="custom-width2">
          <label for="name">
            Nombre del titular de la tarjeta
            <span class="asterisco">*</span>
            <span class="sr-only">tal cual figura en el frente de la misma</span>
            <v-tooltip bottom>
              <span slot="activator">
                <i class="fa fa-question-circle" aria-hidden="true"></i>
              </span>
              <span>tal cual figura en el frente de la misma</span>
            </v-tooltip>
          </label>
        </div>
        <v-text-field
          class="name"
          id="name"
          v-validate="'required'"
          v-model="form.name"
          :error-messages="errors.collect('name')"
          data-vv-name="name"
          required
          placeholder="Nombe Apellido"
        ></v-text-field>

        <label for="dni">
          Número de documento de identidad
          <span class="asterisco">*</span>
        </label>
        <v-text-field
          class="dni"
          id="dni"
          name="dni"
          v-validate="'digits:8|required|numeric'"
          v-model="form.dni"
          data-vv-name="dni"
          required
          placeholder="30987967"
        ></v-text-field>
        <span v-if="errors.collect('dni')" class="error--text">{{errors.collect('dni')[0]}}</span>
        
        <label for="tarjetaNumero">
          Número de la tarjeta
          <span class="asterisco">*</span>
        </label>
        <v-text-field
          class="targeta"
          id="tarjetaNumero"
          v-validate="'digits:16|required|numeric'"
          v-model="form.tarjetaNumero"
          data-vv-name="tarjetaNumero"
          required
          placeholder="1234  3456  6789  9087"
        ></v-text-field>
        <span
          v-if="errors.collect('tarjetaNumero')"
          class="error--text"
        >{{errors.collect('tarjetaNumero')[0]}}</span>

        <div class="custom-width">
          <label for="codigoSeguridad">
            Código de seguridad
            <span class="sr-only">los 3 números que figuran al dorso</span>
            <v-tooltip right>
              <span slot="activator">
                <i class="fa fa-question-circle" aria-hidden="true"></i>
              </span>
              <span>los 3 números que figuran al dorso</span>
            </v-tooltip>
          </label>
        </div>
        <v-text-field
          class="codigo-seguridad"
          id="codigoSeguridad"
          v-validate="'digits:3|required|numeric'"
          v-model="form.codigoSeguridad"
          data-vv-name="codigoSeguridad"
          required
          placeholder="123"
        ></v-text-field>
        <span
          v-if="errors.collect('codigoSeguridad')"
          class="error--text"
        >{{errors.collect('codigoSeguridad')[0]}}</span>

        <div class="custom-width">
          <label for="name">
            Fecha de vencimiento
            <span class="asterisco">*</span>
            <span class="sr-only">en formato MMAA: mes y año con dos dígitos cada uno</span>
            <v-tooltip bottom>
              <span slot="activator">
                <i class="fa fa-question-circle" aria-hidden="true"></i>
              </span>
              <span>en formato MMAA: mes y año con dos dígitos cada uno</span>
            </v-tooltip>
          </label>
        </div>
        <v-text-field
          class="vencimiento"
          id="vencimiento"
          type="text"
          v-validate="'digits:4|required|numeric'"
          v-model="form.vencimiento"
          data-vv-name="vencimiento"
          required
          placeholder="MMAA"
        ></v-text-field>
        <span
          v-if="errors.collect('vencimiento')"
          class="error--text"
        >{{errors.collect('vencimiento')[0]}}</span>

        <div class="leyenda-container">
          <label>
            <input
              type="checkbox"
              declarad
              id
              name="menores"
              data-vv-name="menores"
              v-validate="'required'"
              required
              v-model="form.menores"
            >
            <p class="leyenda">
              Declaro que los menores ingresan acompañados por un adulto a las funciones que asi lo requieren, segun ley vigente
              <span
                class="asterisco"
              >*</span>
            </p>
          </label>
        </div>
        <div class="leyenda-container">
          <label>
            <input
              type="checkbox"
              declarad
              id
              v-model="form.condiciones"
              name="condiciones"
              data-vv-name="condiciones"
              v-validate="'required'"
              required
            >
            <p class="leyenda">
              Acepto
              <span>
                términos y condiciones
                <span class="asterisco">*</span>
              </span>
            </p>
          </label>
        </div>
        <p class="obligatorio">
          <span class="asterisco">*</span> Este campo es obligatorio
        </p>
      </v-flex>
    </v-layout>
    <v-layout wrap>
      <v-flex xs12>
        <v-btn @click="submit" type="submit" class="mm info siguiente">Compartí el link</v-btn>
      </v-flex>
    </v-layout>
  </form>
</template>

<script>
export default {
  name: 'SeleccionaButaca',
  components: {},
  data: () => ({
    mediosDePagos: ['Visa', 'MasterCard'],
    form: {
      email: '',
      medioPagoSelected: '',
      name: '',
      dni: '',
      tarjetaNumero: '',
      codigoSeguridad: '',
    },
  }),
  computed: {
    butacasSelected() {
      return this.userSelected.butacasSelected;
    },
    butacasAPagar: {
      get() {
        return this.userSelected.butacasAPagar;
      },
      set(value) {
        this.$store.commit('userSelected', {
          property: 'butacasAPagar',
          value,
        });
      },
    },
    userSelected() {
      return this.$store.getters.userSelected;
    },
  },
  methods: {
    submit() {
      if (document.getElementById('form').checkValidity()) {
        this.$validator.validate().then(result => {
          if (!result) {
            if (this.errors.collect('pago')[0]) {
              this.$store.commit('ariaLive', {
                msg: this.errors.collect('pago')[0],
              });
            }
            if (this.errors.collect('dni')[0]) {
              this.$store.commit('ariaLive', {
                msg: this.errors.collect('dni')[0],
              });
            }
            if (this.errors.collect('tarjetaNumero')[0]) {
              this.$store.commit('ariaLive', {
                msg: this.errors.collect('tarjetaNumero')[0],
              });
            }
            if (this.errors.collect('codigoSeguridad')[0]) {
              this.$store.commit('ariaLive', {
                msg: this.errors.collect('codigoSeguridad')[0],
              });
            }
            if (this.errors.collect('vencimiento')[0]) {
              this.$store.commit('ariaLive', {
                msg: this.errors.collect('vencimiento')[0],
              });
            }
          } else {
            this.$store.commit('resetData');
            this.$router.push({
              path: `/compraStep4-${this.$route.params.id}`,
              hash: 'start-here',
            });
          }
        });
      }
    },
  },
};
</script>

<style lang="scss" scoped>
@import '../assets/scss/helper/variables.scss';
@import '../assets/scss/helper/text.scss';
h1 {
  @extend %font-h1_1;
  color: $primary-color2;
  padding-bottom: 22px;
  margin-top: 35px;
  margin-bottom: 30px;
}
h2 {
  @extend %font-h3;
  font-weight: normal;
}
.obligatorio {
  @extend %font-p2;
  margin-top: 15px;
}
.big-label {
  @extend %font-p1;
  font-weight: bold;
  margin: 16px auto 15px;
  display: block;
}
.asterisco {
  color: red;
  font-weight: bold;
}
.pagas {
  @extend %font-p1;
  margin: 36px auto;
  font-weight: normal;
  span {
    font-weight: bold;
  }
}
i.fa.fa-question-circle {
  position: absolute;
  margin-left: 8px;
  margin-top: 4px;
  color: $primary-color2;
}
.custom-width {
  width: 200px;
  position: relative;
}
.custom-width2 {
  width: 270px;
  position: relative;
}
#butacas {
  width: 70px;
}
.vencimiento {
  width: 50px;
}
.codigo-seguridad {
  width: 30px;
}
.targeta {
  width: 170px;
}
.dni {
  width: 80px;
}
.name {
  width: 200px;
}
.email {
  width: 200px;
}
#pago {
  width: 190px;
}
.color-note {
  @extend %font-p1;
  color: $primary-color2;
  font-weight: bold;
  max-width: 580px;
}
label {
  @extend %font-p2;
  font-weight: bold;
  margin-top: 21px;
  width: 100%;
  display: table;
  font-weight: 800;
  margin-bottom: 5px;
}
.v-input,
select {
  max-width: 380px;
}
.v-text-field {
  margin-top: 0px;
  padding-top: 5px;
}
.v-tooltip {
  width: 200px;
}
.select-container {
  margin-top: 20px;
  margin-bottom: 31px;
  select {
    font-weight: bold;
    display: block;
  }
}
.leyenda-container {
  label {
    margin-top: 5px;
    .leyenda {
      @extend %font-p3;
      display: inline;
      margin-left: 15px;
      font-weight: normal;
      span {
        font-weight: bold;
      }
    }
  }
}
</style>
