<template>
  <v-layout align-center justify-center dark>
    <v-flex xs12 sm11>
      <v-card dark>
        <v-container grid-list-sm fluid>
          <v-layout row wrap>
            <v-flex v-for="(pelicula, i) in peliculas" :key="i" xs2 d-flex>
              <router-link :to="{path:`/compraStep1-${pelicula.id}`,hash:'start-here'}">
                <v-card flat tile class="d-flex">
                  <v-img
                    :src="`img/${pelicula.imageName}`"
                    lazy-src="https://picsum.photos/10/6"
                    :aspect-ratio="0.6"
                    class="grey lighten-2"
                  >
                    <v-layout slot="placeholder" fill-height align-center justify-center ma-0>
                      <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                    </v-layout>
                  </v-img>
                  <img :src="`img/${pelicula.imageName}`" class="sr-only" alt="">
                  <h3 class="peli-title">{{pelicula.title}}</h3>
                </v-card>
              </router-link>
            </v-flex>
          </v-layout>
        </v-container>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  name: 'PeliculasList',
  props: ['peliculas'],
};
</script>

<style lang="scss" scoped>
@import '../assets/scss/helper/variables.scss';
@import '../assets/scss/helper/text.scss';
h3.peli-title {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #000000a8;
  text-align: center;
  @extend %font-p2;
}
</style>
