<template>
  <div class="selecciona-butaca">
    <h1>SELECCIONÁ LAS BUTACAS</h1>
    <v-layout wrap>
      <v-flex xs12>
        <Butacas :validacion="validacion"/>
      </v-flex>
      <v-flex xs12 class="selected">
        <h2>Elegiste:</h2>
        <p>
          <span>Película:</span>
          {{pelicula.title}}
        </p>
        <p>
          <span>Día:</span>
          {{`${userSelected.date ? userSelected.date.slice(0, userSelected.date.length -3):''} - ${hora}`}}
        </p>
        <p>
          <span>Idioma:</span>
          {{idioma}}
        </p>
        <p>
          <span>Tipo de sala:</span>
          {{userSelected.salaSelected}}
        </p>
        <p>
          <span>Cine:</span>
          {{userSelected.cineSelected}}
        </p>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
import Butacas from './Butacas.vue';
export default {
  name: 'SeleccionaButaca',
  props: ['validacion'],
  components: {
    Butacas,
  },
  computed: {
    pelicula() {
      return this.$store.getters.pelicula;
    },
    hora() {
      return this.$store.getters.hora;
    },
    idioma() {
      return this.$store.getters.idioma;
    },
    userSelected() {
      return this.$store.getters.userSelected;
    },
  },
};
</script>

<style lang="scss" scoped>
@import '../assets/scss/helper/variables.scss';
@import '../assets/scss/helper/text.scss';
.selecciona-butaca {
  .selected {
    margin-top: 50px;
    p {
      color: #000000;
      padding-left: 10px;
      font-weight: normal;
      span {
        font-weight: bold;
      }
      &:nth-child(2n + 2) {
        background: #f8f8f8;
        padding: 10px;
      }
    }
  }
  h1 {
    @extend %font-h1_1;
    color: $primary-color2;
    padding-bottom: 22px;
    margin-top: 35px;
    margin-bottom: 30px;
  }
  h2 {
    @extend %font-p1;
    margin-bottom: 25px;
  }
  label {
    width: 100%;
    display: block;
    font-weight: 800;
    @extend %font-p2;
    margin-bottom: 5px;
  }
  .mm {
    min-height: 40px;
    min-width: 80px;
  }
  .franja {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .margin-top {
    margin-top: 30px;
  }
  .label-franja {
    margin-bottom: 30px;
    margin-top: 10px;
    text-align: center;
    font-weight: 600;
  }
  .franja-col.selected {
    background-color: lighten($primary-color2, 35%);
  }
  select.form-control {
    border-bottom: rgba(0, 0, 0, 0.87) solid 1px;
    border-radius: 0;
    box-shadow: none;
    &:focus {
      border-bottom: #2b4a83 solid 2px;
    }
    -webkit-appearance: menulist;
    --moz-appearance: menulist;
  }
}
</style>
