<template>
  <router-link class="sr-only sr-only-focusable" :to="link">Saltar al contenido</router-link>
</template>

<script>
export default {
  name: 'SkipToContent',
  computed: {
    link() {
      return this.$router.currentRoute.name === 'inicio'
        ? { path: '/', hash: 'buscador' }
        : { hash: 'content' };
    },
  },
};
</script>

<style lang="scss" scoped>
@import '../assets/scss/helper/variables.scss';
a {
  color: $text-color-light;
  background-color: $primary-color1;
  z-index: 99;
}
</style>
