<template>
  <v-app>
    <SkipToContent/>
    <div id="app">
      <navbar/>
      <router-view id="content" tagindex="-1"/>
      <FooterComponent/>
    </div>
    <AriaLive/>
  </v-app>
</template>
<script>
import FooterComponent from './components/FooterComponent.vue';
import Navbar from './components/Navbar.vue';
import SkipToContent from '@/components/SkipToContent.vue';
import AriaLive from '@/components/AriaLive.vue';

export default {
  components: {
    AriaLive,
    FooterComponent,
    Navbar,
    SkipToContent,
  },
  computed: {
    container() {
      return document.querySelector('body');
    },
    userSelected() {
      return this.$store.getters.userSelected;
    },
  },
  mounted() {
    document.addEventListener('keyup', e => {
      if (this.container.contains(e.target)) {
        this.container.classList.add('has_focus');
      } else {
        this.container.classList.remove('has_focus');
      }
    });
    // Remove the focus class on mouse click
    document.addEventListener('mousedown', e => {
      if (this.container.contains(e.target)) {
        this.container.classList.remove('has_focus');
      }
    });
    window.addEventListener(
      'keydown',
      e => {
        if (
          [38, 40].indexOf(e.keyCode) > -1 &&
          $(e.target).hasClass('not-scroll')
        ) {
          e.preventDefault();
        }
      },
      false,
    );
    if (localStorage) {
      const userSelected = JSON.parse(localStorage.userSelected);
      _.forEach(userSelected, (value, key) => {
        this.$store.commit('userSelected', { property: key, value });
      });
    }
  },
  watch: {
    userSelected: {
      handler: function(newUserSelected) {
        localStorage.userSelected = JSON.stringify(newUserSelected);
      },
      deep: true,
    },
  },
};
</script>
<style lang="scss" scoped>
</style>
